{% extends "pdf_clip/layout.html" %}

{% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PDF Clipper Review</title>
        <style>
            #canvas_container {
                width: 600px;
                height: 605px;
                overflow: auto;
                background: #333;
                text-align: center;
                border: solid 3px;
                /* position: absolute; */
                top: 10px;
                left: 20px;
            }
            #clipListScreen {
                width: 700px;
                height: 600px;
                overflow-y: scroll;
                border: 1px solid black;
            }
            table { 
                border-collapse: collapse; 
            }
            tr:first-child {
                border : 1px solid black;
            }
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>
        <script>
            // : change scale to account for portrait / landscape pages
            var myPdf = null;
            var posArray = []
            var moveArray = [];
            var deleteArray = [];
            var clipData = null;
            var noteNumber = null;
            var currentView = null;

            pdfjsLib.getDocument('../static/upload/' + '{{ currentFile }}').then((pdf) => {  
                myPdf = pdf;
            });

            // This loads the 'view' screen so you can review what the clip looks like
            function render(pageNumber, minY, maxY, minX, maxX) {
                (async ()=>{
                    const page = await myPdf.getPage(pageNumber);
                    
                    const canvas = document.createElement("canvas");
                    const ctx = canvas.getContext("2d", { willReadFrequently: true });
            
                    const scale = Math.floor(600 / (page.view[3] - page.view[1]) * 100) / 100;
                    var viewport = page.getViewport(scale);
                        // var viewport = page.getViewport(1);
            
                    canvas.width = viewport.width;
                    canvas.height = viewport.height;

                    // render the page to put in the view screen
                    const renderedPage = await page.render({canvasContext: ctx, viewport: viewport})

                    let imageData;
                    if (minX == null && maxX == null) {
                        imageData = ctx.getImageData(0, minY, viewport.width, maxY - minY);   // 0, line2, page width, section height (line 2 minus line 1)
                    } else {
                        imageData = ctx.getImageData(minX, minY, maxX - minX, maxY - minY);   // 0, line2, page width, section height (line 2 minus line 1)
                    }
                    var canvas1 = document.getElementById("pdf_renderer");
                    if (minX == null && maxX == null) {
                        canvas1.width = viewport.width;
                    } else {
                        canvas1.width = maxX - minX;
                    }
                    canvas1.height = 600;
                    let ctx1 = canvas1.getContext("2d", { willReadFrequently: true });
                    ctx1.rect(0, 0, 600, 600);
                    ctx1.fillStyle = '#333';
                    ctx1.fill();
                    ctx1.putImageData(imageData, 0, Math.ceil((600 - (maxY - minY))/2));

                    canvas.remove();
                })();
            }
 
            document.addEventListener('DOMContentLoaded', function () {
                // Django view data
                clipData = JSON.parse('{{ clipsJson|safe }}');
                fileData = ('{{ currentFile }}');
                posArray = JSON.parse('{{ posArray|safe }}');

                var dictLength = Object.keys(clipData).length;

                setupTable(clipData, posArray);

                setupButtons();


            });

            function setupTable(clipData, posArray) {
                // set up table of pdf clips, including clip number, page number, move checkboxes, and buttons for notes, deleting, and viewing
                var tableContents = "<tr id='tableHeader'><th></th><th>Clip No.</th><th>Page</th><th style='width:250px'>Note</th><th></th><th></th><th></th></tr>";
                for (number in posArray) {
                    tableContents += "<tr id='row" + number + "'>";
                    tableContents += "<td><input type='checkbox' class='moveCheckbox' id='moveCheck" + number + "'></td>";
                    tableContents += "<td id='clip" + posArray[number] + "'>" + posArray[number] + "</td>";
                    tableContents += "<td>" + clipData[posArray[number]]['pageNumber'] + "</td>";
                    tableContents += "<td style='width:250px' id='note" + posArray[number] + "'>" + clipData[posArray[number]].note + "</td>";
                    tableContents += "<td><button class='noteButton' id='editNote" + posArray[number] + "'>Edit Note</button>";
                    tableContents += "<button class='saveNoteButton' id='saveNote" + posArray[number] + "' style='display:none;'>Save Note</button></td>";
                    tableContents += "<td><button class='deleteButton' id='delete" + posArray[number] + "'>Delete Clip</button></td>";
                    tableContents += "<td><button class='viewButton' id='view" + posArray[number] + "'>View</button></td>";
                    tableContents += "</tr>";
                }

                document.getElementById("clipTable").innerHTML = tableContents;
            }

            // sets up buttons in the table
            function setupButtons() {

                // view button to see what your clip looks like
                document.querySelectorAll('.viewButton').forEach(button => {
                    button.addEventListener('click', function handleClick(event) {
                        const idNumber = event.target.id.replace('view', '');
                        // console.log(clipData[idNumber]['page']);
                        currentView = idNumber;
                        render(clipData[idNumber]['pageNumber'], clipData[idNumber]['minY'], clipData[idNumber]['maxY'], clipData[idNumber]['minX'], clipData[idNumber]['maxX']);
                    });
                });

                // delete button to delete clip from list (and table)
                document.querySelectorAll('.deleteButton').forEach(button => {
                    button.addEventListener('click', function handleClick(event) {
                        const idNumber = event.target.id.replace('delete', '');
                        // deletes clip from data, from table, and from position in list
                        deleteArray.push(parseInt(idNumber));
                        delete clipData[idNumber];
                        posArray.splice(posArray.indexOf(parseInt(idNumber)), 1);
                        if (posArray.length == 0) {
                            document.getElementById('createPDFButton').disabled = true;
                        }
                        setupTable(clipData, posArray);
                        if (idNumber == currentView) {
                            var canvas1 = document.getElementById("pdf_renderer");
                            let ctx1 = canvas1.getContext("2d", { willReadFrequently: true });
                            ctx1.rect(0, 0, 600, 600);
                            ctx1.fillStyle = '#333';
                            ctx1.fill();
                        }

                        document.querySelectorAll('.moveCheckbox').forEach(e => e.replaceWith(e.cloneNode(true)));
                        document.querySelectorAll('.viewButton').forEach(e => e.replaceWith(e.cloneNode(true)));
                        document.querySelectorAll('.deleteButton').forEach(e => e.replaceWith(e.cloneNode(true)));
                        document.querySelectorAll('.noteButton').forEach(e => e.replaceWith(e.cloneNode(true)));

                        setupButtons();

                    });

                });

                // button to add note to clip
                document.querySelectorAll('.noteButton').forEach(button => {
                    button.addEventListener('click', function handleClick(event) {

                        const noteId = event.target.id.replace("editNote", "note");
                        const saveNoteId = event.target.id.replace("editNote", "saveNote");
                        const currentNote = document.getElementById(noteId).innerHTML;
                        const newNote = currentNote.replace('&apos;','\'');

                        // disable other buttons while note is being made
                        document.querySelectorAll('.noteButton').forEach(e => {
                            if (e != event.target) {
                                e.disabled = true;
                            }
                        });
                        for (let i = 0; i < posArray.length; i++) {
                            const checkButtonId = 'moveCheck' + i;
                            const delButtonId = 'delete' + posArray[i];
                            document.getElementById(checkButtonId).checked = false;
                            document.getElementById(checkButtonId).style.display = "none";
                            document.getElementById(delButtonId).style.display = "none";
                        }
                        document.getElementById(saveNoteId).style.display = "block";
                        event.target.style.display = "none";
                        document.getElementById(noteId).innerHTML = "<input style='width:240px' type='text' id='messageEdit' value=''></input>";
                        document.getElementById(noteId).childNodes[0].value = newNote;
                        document.getElementById('messageEdit').focus()

                        // make buttons to save note
                        document.getElementById(saveNoteId).replaceWith(document.getElementById(saveNoteId).cloneNode(true));
                        document.getElementById(saveNoteId).addEventListener('click', function handleClick(event) {
                            const noteId = event.target.id.replace("saveNote", "note");
                            const editNoteId = event.target.id.replace("saveNote", "editNote");
                            document.querySelectorAll('.noteButton').forEach(e => {
                                if (e != event.target) {
                                    e.disabled = false;
                                }
                            });
                            document.getElementById(editNoteId).style.display = "block";
                            event.target.style.display = "none";
                            const changedNote = document.getElementById(noteId).childNodes[0].value.trim();
                            const noteNumber = event.target.id.replace("saveNote", "");
                            clipData[noteNumber]['note'] = changedNote;
                            // console.log(clipData[noteNumber]['note']);
                            document.getElementById(noteId).innerHTML = changedNote;
                            for (let i = 0; i < posArray.length; i++) {
                                const checkButtonId = 'moveCheck' + i;
                                const delButtonId = 'delete' + posArray[i];
                                document.getElementById(checkButtonId).style.display = "block";
                                document.getElementById(delButtonId).style.display = "block";
                            }
                            document.querySelectorAll('.moveCheckbox').forEach(e => e.replaceWith(e.cloneNode(true)));
                            document.querySelectorAll('.deleteButton').forEach(e => e.replaceWith(e.cloneNode(true)));
                            document.querySelectorAll('.noteButton').forEach(e => e.replaceWith(e.cloneNode(true)));
                            document.querySelectorAll('.viewButton').forEach(e => e.replaceWith(e.cloneNode(true)));

                            setupButtons();
                        });
                    });
                });

                // checkboxes to move clips around
                document.querySelectorAll('.moveCheckbox').forEach(button => {
                    button.addEventListener('click', function handleClick(event) {
                        if (event.target.checked == true) {
                            moveArray.push(posArray[parseInt(event.target.parentNode.parentNode.id.replace("row",""))]);
                        } else {
                            moveArray.splice(moveArray.indexOf(posArray[parseInt(event.target.parentNode.parentNode.id.replace("row",""))]), 1)
                        }

                        if (moveArray.length > 0) {
                            document.getElementById("moveButton").style.display="block";
                        } else {
                            document.getElementById("moveButton").style.display="none";
                        }

                    });
                });

            }


            // when the "move nodes" button is clicked, buttons appear which show where to move the selected clips to
            function showMoveButtons() {
                const firstMoveButton = "<tr class='moveToRow'><td><button class='moveToButton' id='moveTo0'>Move here</button></td></tr>"
                document.getElementById("tableHeader").insertAdjacentHTML("afterend", firstMoveButton);

                var moveCount = 0;
                for (let i = 0; i < posArray.length; i++) {
                    if (!moveArray.includes(i)) {
                        moveCount++;
                        const moveButton = "<tr class='moveToRow'><td><button class='moveToButton' id='moveTo" + moveCount + "'>Move here</button></td></tr>";
                        const rowId = "row" + i;
                        document.getElementById(rowId).insertAdjacentHTML("afterend", moveButton);
                    } else {
                        const clipId = 'clip' + i;
                        document.getElementById(clipId).style.color = "red";
                    }
                }
                // disable other buttons while moving
                for (let i = 0; i < posArray.length; i++) {
                    const checkButtonId = 'moveCheck' + i;
                    const notButtonId = 'editNote' + posArray[i];
                    const delButtonId = 'delete' + posArray[i];
                    document.getElementById(checkButtonId).style.display = "none";
                    document.getElementById(notButtonId).style.display = "none";
                    document.getElementById(delButtonId).style.display = "none";  
                }
                document.getElementById("cancelMoveButton").style.display="block";
                document.querySelectorAll('.moveToButton').forEach(e => e.replaceWith(e.cloneNode(true)));

                document.querySelectorAll('.moveToButton').forEach(button => {
                    button.addEventListener('click', function handleMoveClick(event) {
                        // rearrange clip list in new order
                        moveArray.reverse();
                        for (number in moveArray) {
                            const index = posArray.indexOf(moveArray[number]);
                            if (index !== -1) {
                                posArray.splice(index, 1);
                            }
                        }
                        moveNumber = parseInt(event.target.id.replace("moveTo",""));
                        if (moveNumber == posArray.length) {
                            moveArray.reverse();
                            for (number in moveArray) {
                                posArray.push(moveArray[number]);
                            }
                        } else {
                            for (number in moveArray) {
                                posArray.splice(moveNumber,0,moveArray[number]);
                            }
                        }

                        hideMoveButtons();

                        setupTable(clipData, posArray);

                        document.querySelectorAll('.moveCheckbox').forEach(e => e.replaceWith(e.cloneNode(true)));
                        document.querySelectorAll('.viewButton').forEach(e => e.replaceWith(e.cloneNode(true)));
                        document.querySelectorAll('.deleteButton').forEach(e => e.replaceWith(e.cloneNode(true)));
                        document.querySelectorAll('.noteButton').forEach(e => e.replaceWith(e.cloneNode(true)));

                        setupButtons();
                    });
                });
            }

            function hideMoveButtons() {                    
                document.querySelectorAll('.moveToRow').forEach(e => e.remove());
                document.getElementById("cancelMoveButton").style.display="none";
                document.getElementById("moveButton").style.display="none";
                for (let i = 0; i < posArray.length; i++) {
                    const checkButtonId = 'moveCheck' + i;
                    const notButtonId = 'editNote' + posArray[i];
                    const delButtonId = 'delete' + posArray[i];
                    const clipId = 'clip' +  posArray[i];
                    document.getElementById(clipId).style.color = "black";
                    document.getElementById(checkButtonId).checked = false;
                    document.getElementById(checkButtonId).style.display = "block";
                    document.getElementById(notButtonId).style.display = "block";
                    document.getElementById(delButtonId).style.display = "block";
                }
                moveArray = [];
            }

            // get data ready for moving to next page (or previous page)
            function addReturnFormInfo() {
                var form=document.getElementById('returnForm');

                console.log(clipData);

                var inputClips = document.createElement('input');
                inputClips.setAttribute('name', 'clips');
                inputClips.setAttribute('value', JSON.stringify(clipData));
                inputClips.setAttribute('type', 'hidden');

                var inputPos = document.createElement('input');
                inputPos.setAttribute('name', 'posArray');
                inputPos.setAttribute('value', JSON.stringify(posArray));
                inputPos.setAttribute('type', 'hidden');

                var inputDel = document.createElement('input');
                inputDel.setAttribute('name', 'delArray');
                inputDel.setAttribute('value', JSON.stringify(deleteArray));
                inputDel.setAttribute('type', 'hidden');

                form.appendChild(inputClips);
                form.appendChild(inputPos);
                form.appendChild(inputDel);

                form.submit();
            }

            function addCreateFormInfo() {
                var form=document.getElementById('createForm');

                console.log(clipData);

                var inputClips = document.createElement('input');
                inputClips.setAttribute('name', 'clips');
                inputClips.setAttribute('value', JSON.stringify(clipData));
                inputClips.setAttribute('type', 'hidden');

                var inputPos = document.createElement('input');
                inputPos.setAttribute('name', 'posArray');
                inputPos.setAttribute('value', JSON.stringify(posArray));
                inputPos.setAttribute('type', 'hidden');

                var inputDel = document.createElement('input');
                inputDel.setAttribute('name', 'delArray');
                inputDel.setAttribute('value', JSON.stringify(deleteArray));
                inputDel.setAttribute('type', 'hidden');

                form.appendChild(inputClips);
                form.appendChild(inputPos);
                form.appendChild(inputDel);

                form.submit();
            }


        </script>
{% endblock %}
{% block body %}
    <h1>Clips Review</h1>
    <div id="reviewScreen" style="display:inline-flex">
        <div id="reviewClipsScreen">
            <div id="clipListScreen">
                <table id="clipTable">
                    <!-- where list of clips goes -->
                </table>
            
            </div>
        
            <div style="display:block">
                <div id="moveButtonContainer" style="display:inline-flex">
                    <button id="moveButton" style="display:none" onclick="showMoveButtons()">Move Nodes</button>
                    <button id="cancelMoveButton" style="display:none" onclick="hideMoveButtons()">Cancel Move</button>
                </div>
            </div>
                
        </div>
        <div id="reviewRenderScreen">
            <!-- screen for viewing your clips -->
            <div id="pdf_screen">
                <div id="canvas_container">
                    <canvas id="pdf_renderer"></canvas>
                </div>
            </div>
        
            <button onclick="addReturnFormInfo()">Return to Clip Selection</button>
            <button id="createPDFButton" onclick="addCreateFormInfo()">Make New PDF File</button>
        
            <form id="returnForm" method="post" action="{% url 'upload' %}">
                {% csrf_token %}
            </form>
            <form id="createForm" method="post" action="{% url 'build' %}">
                {% csrf_token %}
            </form>
        </div>    
    </div>



{% endblock %}