{% extends "pdf_clip/layout.html" %}

{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My PDF Viewer Clip Review</title>
    <style>
        body {
            text-align: center;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>PDF Clipper</h1>
    <h3>1</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
        <button type="submit">Upload</button>
    </form>

    {% if errorMsg %}
        <p style="color:red;">{{errorMsg}}</p>
    {% endif %}
{% endblock %}