{% extends "pdf_clip/layout.html" %}

{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>

    <script>

        clipData = JSON.parse('{{ clipsJson|safe }}');
        fileData = JSON.parse('{{ fileJson|safe }}');

        var pageData = [];
        var actualPageData = [];
        var pageImageData = [];

        // console.log(clipData);
        // console.log(fileData);

        const posArray = fileData['positionArray'];
        fileName = '../static/upload/' + fileData['fileName'] + '.pdf';

        pdfjsLib.getDocument(fileName).then((pdfRead) => {
            const hSize = fileData['maxPageWidth'];
            const vSize = fileData['maxPageHeight'];

            const pdfWrite = new jsPDF({unit: 'px',format: [hSize, vSize]});
            pdfWrite.setFont("courier");
            pdfWrite.setFontSize(12);

            console.log("here we go");

            for (clip in clipData) {
            // for (pos in posArray) {
                // console.log(clipData[posArray[pos]]);

                // const currentData = clipData[posArray[pos]];
                // // console.log(currentData);

                // const currentPage = currentData['pageNumber'];
                // const currentMinY = currentData['minY'];
                // const currentMaxY = currentData['maxY'];
                // const currentNote = currentData['note'];

                const currentPage = clipData[clip]['pageNumber'];
                const currentNumber = clipData[clip]['clipNumber'];
                const currentMinY = clipData[clip]['minY'];
                const currentMaxY = clipData[clip]['maxY'];
                const currentNote = clipData[clip]['note'];

                var currentWriteHeight = 0;
                var currentPos = 0;

                // pdfRead.getPage(currentPage).then((page) => {
                //     pageData.push(page);

                //     var canvas = document.createElement('canvas');
                //     var ctx = canvas.getContext("2d", { willReadFrequently: true });

                //     const minY = currentMinY * page.view[3] / 600;
                //     const maxY = currentMaxY * page.view[3] / 600;
                //     const picHeight = maxY - minY;
            
                //     var viewport = page.getViewport(1);
            
                //     canvas.width = viewport.width;
                //     canvas.height = viewport.height;

                //     page.render({
                //         canvasContext: ctx,
                //         viewport: viewport
                //     })
                //     .then((page) => {
                //         // sample data for rendering partial render in inspection page
                //         const imageData = ctx.getImageData(0, minY, viewport.width, picHeight);   // 0, line2, page width, section height (line 2 minus line 1)
                //         // const canvas1 = document.createElement('canvas');

                //         // canvas1.width = viewport.width;
                //         // canvas1.height = picHeight;

                //         // const ctx1 = canvas1.getContext("2d");
                //         // ctx1.putImageData(imageData, 0, 0);

                //         // if ((currentNote.length > 0 && (currentWriteHeight + picHeight + 16) > vSize) || (currentNote.length == 0 && (currentWriteHeight + picHeight) > vSize)) {4
                //         //     pdfWrite.addPage({format: [hSize, vSize]});
                //         //     currentWriteHeight = 0;
                //         // }

                //         // if (currentNote.length > 0) {
                //         //     pdfWrite.text(currentNote, 0, currentWriteHeight + 8);
                //         //     currentWriteHeight += 16;
                //         // }

                //         // pdfWrite.addImage(canvas1, 'PNG', 0, currentWriteHeight, viewport.width, picHeight);
                //         // currentWriteHeight += picHeight;
                //         // canvas.remove();
                //         // canvas1.remove();

                //         // currentPos += 1;
                //         // console.log(currentPos / posArray.length * 100);

                //         // pdfWrite.text("Sample1Sample1Sample1Sample1Sample1Sample1Sample1Sample1", 0, 0 + 8); // add fontSize * 1.33 / 2
                //         // pdfWrite.addImage(canvas1, 'PNG', 0, 0, viewport.width, maxY - minY);  

                //         // pdfWrite.save();
                //         // if (currentPos == posArray.length) {
                //         //     window.open(pdfWrite.output('bloburl'), '_blank');
                //         //     pdfWrite.save();
                //         // }
                //     });

                // });
            }

            // for (pos in posArray) {

            // }

            // window.open(pdfWrite.output('bloburl'), '_blank');
            // pdfWrite.save();
        });

        // for (pos in fileData['positionArray']) {
        //     console.log(clipData[pos]);
        // }

        // pdfjsLib.getDocument('../static/FF01TheWarlockofFiretopMountain.pdf').then((pdfRead) => {  
        //     // console.log(pdfRead);
        //     const hSize = 292.8;
        //     const vSize = 488.16;

        //     var pdfWrite = new jsPDF({unit: 'px',format: [hSize, vSize]});
        //     // console.log(pdfWrite);

        //     const pageNumber = 2;
        //     pdfRead.getPage(pageNumber).then((page) => {
        //         // console.log(page.view);
        //         // console.log(page.view[3]);
        
        //         var canvas = document.createElement('canvas');
        //         var ctx = canvas.getContext("2d", { willReadFrequently: true });

        //         const minY = 98 * page.view[3] / 600;
        //         const maxY = 386 * page.view[3] / 600;
        
        //         var viewport = page.getViewport(1);
        
        //         canvas.width = viewport.width;
        //         canvas.height = viewport.height;
        
        //         page.render({
        //             canvasContext: ctx,
        //             viewport: viewport
        //         })
        //         .then((page) => {
        //             // sample data for rendering partial render in inspection page
        //             let imageData = ctx.getImageData(0, minY, viewport.width, maxY - minY);   // 0, line2, page width, section height (line 2 minus line 1)
        //             var canvas1 = document.createElement('canvas');

        //             canvas1.width = viewport.width;
        //             canvas1.height = maxY - minY;

        //             let ctx1 = canvas1.getContext("2d");
        //             ctx1.putImageData(imageData, 0, 0); // 600 minus section height divided by 2

        //             pdfWrite.setFont("courier");
        //             pdfWrite.setFontSize(12);
        //             pdfWrite.text("Sample1Sample1Sample1Sample1Sample1Sample1Sample1Sample1", 0, 0 + 8); // add fontSize * 1.33 / 2
        //             // pdfWrite.addImage(canvas1, 'PNG', 0, 0, viewport.width, maxY - minY);

        //             // pdfWrite.setFont("courier");
        //             // pdfWrite.setFontSize(12);
        //             // pdfWrite.text("Sample", 140, 234 + 8);    

        //             window.open(pdfWrite.output('bloburl'), '_blank');
        //             // pdfWrite.save();
        //         })
        //         ;
        
        
        //     });

        // });
    </script>
    <title>My PDF Viewer</title>
{% endblock %}
{% block body %}

{% endblock %}